ul.accordian {
	padding: 0;
	
	width: 20em;
}
li {
	list-style: none;
	
}
label {
	cursor: pointer;
}
input {
	display: none;
}
article {
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
ul li input:checked ~ article {
	max-height: 100px;
}
